.header {
    width: 100%
    
}
.header img {
    width: 20%;
    margin: 30px 30px 0px;
}
.list {
    font-weight: 300;
    font-size: 23px;
}
.list:not(:last-child) {
    margin-right: 30px;

}
.group {
    display: flex;
    justify-content: flex-end;
    transform: translate(-20px, 0px);
}
.relative {
    position: relative;
    left: 700px;
}
.relative img {
    width: 60%;
}
.absolute {
    position: absolute;
    top: 50px;
    font-size: 70px;
    color:mediumvioletred;
    font-weight: bold;
    font-family: 'Gorditas', cursive;
    transform: translate(-430px, 100px);
}
.absolute span {
    color:mediumturquoise;
}
.absolute-s {
    position: absolute;
    top: 185px;
    font-size: 35px;
    font-weight: 700;
    color: mediumvioletred;
    transform: translate(-430px, 230px);
}
.absolute-s span {
    color: mediumturquoise;
}
.absolute-se {
    transform: translate(-430px, -120px);
    font-size: 23px;
    font-weight: 600;
}
.main {
    width: 100%;
    background-color: white;
}
.news {
    width: 100%
    
}
.sub-news {
    font-size: 16px;
     font-family: 'Gorditas', cursive;
     color: mediumvioletred;
     font-weight: lighter;
     transform: translate(300px, 0px);
}
.title-news {
    font-size: 22px;
    transform: translate(300px, 0px);    
}
.ul-news {
    text-align: center;
    padding-left: 0;
    margin: 0px auto;
}
.li-news {
    margin-left: 30px;
    border-top: 1px solid gray;
    list-style: none;
    padding: 20px 10px;
    width: 50%;
        margin: 0px auto;
}
.li-news span {
    margin-right: 25px;
    list-style: none;
    background-color:mediumvioletred;
    width: 3%;
    color:aliceblue;
    border-radius: 5px;
    height: 20%;
    padding: 5px;
}
.li-news:first-child {
    border-top: 2px solid gray;
}
.li-news:last-of-type {
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}
.about {
    width: 100%;
    margin-top: 130px;
    text-align: center;
}  
.about-content {
    width: 80%;
}
.about__content__sub-ttl {
    color:mediumvioletred;
    font-family: 'Gorditas', cursive;
    font-weight: lighter;
    font-size: 15px;
}
.about__content__ttl {
    font-size: 30px;
    margin-top: 15px;
}
.img-about {
    width: 35%;
    float: right;
    padding: 40px 130px 20px;
}
.p-about {
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    padding: 50px 20px 20px;
    
}
.service {
    width: 100%;
        display: inline-block;
}
.subttl-service {
    color: mediumvioletred;
    font-family: 'Gorditas', cursive;
    font-weight: lighter;
    font-size: 18px;
    display: inline-block;
    transform: translate(-60px -60px);
}
.ttl-service {
    font-size: 25px;
    margin-top: 50px;
}